.App {
  text-align: center;
}
.body {
  position: fixed;
  top: 30%;
  left: 10%;
  right: 10%;
}
.GL {
  background-color: azure;
}
.gg {
  height: 400px;
}
@media only screen and (min-width: 800px) {
  div.EP {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  div.body {
    background-color: black;
  }
  div.gg {
    display: none;
  }
}
